@use 'header';
@use 'variables';
@use 'hero';
@use 'where-to-watch';
@use 'faq';
@use 'footer';

@font-face {
    font-family: TTNorms;
    src: url(../../assets/fonts/TTNorms-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: TTNorms;
    src: url(../../assets/fonts/TTNorms-ExtraBold.otf);
    font-weight: 700;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variables.$textPrimary;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variables.$textSecondary;
}

.title {
    @include title;

    @media (max-width: 768px) {
        @include title(24px);
    }
}

.text {
    @include text;

    @media (max-width: 768px) {
        @include title(14px);
    }
}

.text--big {
    @include text(18px);

    @media (max-width: 768px) {
        @include text(15px);
    }
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variables.$textSecondary;
}

.title--big {
    @include title(44px);

    @media (max-width: 768px) {
        @include title(26px);
    }
}

.title--small {
    @include title(28px);

    @media (max-width: 768px) {
        @include title(22px);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: TTNorms, sans-serif;
}

body {
    background-color: variables.$backgroundColor;
}