@use 'header';
@use 'variables';
@use 'hero';
@use 'where-to-watch';

@font-face {
    font-family: TTNorms;
    src: url(../../assets/fonts/TTNorms-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: TTNorms;
    src: url(../../assets/fonts/TTNorms-ExtraBold.otf);
    font-weight: 700;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variables.$textPrimary;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variables.$textSecondary;
}

.title--big {
    @include title(44px);

    @media (max-width: 768px) {
        @include title(26px);
    }
}

.title--small {
    @include title(28px);

    @media (max-width: 768px) {
        @include title(22px);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: TTNorms, sans-serif;
}

.button {
    align-items: center;
    justify-content: center;
    border: 1px solid variables.$buttonPrimaryColor;
    border-radius: 6px;
    color: variables.$textSecondary;
    display: flex;
    max-width: 100%;
    height: 60px;
    padding: 8px 14px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;

    &:hover {
        background-color: lighten(variables.$buttonPrimaryColor, 5%);
        color: variables.$backgroundColor;
    }

    &--secondary {
        background-color: variables.$buttonSecondaryColor;
        border-color: variables.$buttonSecondaryColor;

        &:hover {
            background-color: lighten(variables.$buttonSecondaryColor, 15%);
        }
    }

    &--primary {
        background-color: rgba(variables.$buttonPrimaryColor, 0.8);
        border-color: variables.$buttonPrimaryColor;
        letter-spacing: 1px;

        &:hover {
            background-color: variables.$textSecondary;
            color: variables.$backgroundColor;
        }
    }
}